body {
font-family: 'Balsamiq Sans', cursive;
}

/*HEADER*/
#header-nav {
	background-color: #808080;
	border-radius: 0;
	border: 0px;
    border-bottom: 2px solid black;
}



.navbar-brand {
	height: 70px;
	margin-left: 0;
}
.navbar-brand h2 {
	margin-top: 0;
	margin-bottom: 0;
	color: black;
	font-size: 2em;
	margin-left: 10px;
}
#nav-list {
	margin: 0;
}

#nav-list a {
	color: #000000;
	text-align: center;
}
#nav-list a span{
  font-size: 1.4em;
  padding: 10px;
}

 .navbar-header .icon-bar {
  border: 3px solid #000000;
}
.navbar-header button.navbar-toggle {
	margin-top: 12px;
	border: 1px solid #000000;
}


h2 {
	color: #000000;
}

div#content {
	margin-top: 30px;
   color: #000000;
   padding-right: 30px;
   padding-left: 30px;
}
.container section {
	background-color: #808080;
}
.container p#p1 {
	font-size: 1.5em;
	font-weight: bold;
	padding-top: 10px;
}
.container p#p2 {
	padding-left: 20px;
	padding-right: 20px;
	line-height: 1.3em;
	font-size: 1.1em;
}

@media (max-width: 767px) {
       
       .col-xs-12 {
       	width: 100%;
       }
       div#content {
       	padding-left: 50px;
       	padding-right: 50px;
       }
       
       .navbar-collapse {
	     padding: 0;
	     background-color: #FFE4E1;
        }
       
       .divider {
        height: 2px;
        margin: 0;
        background-color: #000000;
        }

        .navbar-default .navbar-collapse {
        	border: 2px solid black;
        	border-top: 2px solid black;
        	border-bottom: 0px;
        }
        

}

